/* nav{
  display: flex;
  justify-content: space-between;
}
.logo{
  display: flex;
  gap: 10px;
 
}
.logo li{
  border: 2px solid black;
  border-radius: 5px;
 width: 80px;
 height: 50px;
 list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700px;
  font-size: 20px;
}
.logo li:nth-child(1){
  background-color: black;
  color: #fff;
  transform: translateX(35px);
}
.logo li:nth-child(2){
  background-color: rgb(201, 80, 120);
  color: #fff;
 transform: translateY(30px);
}
.sign-up{
  display: flex;
  gap: 15px;
}
.sign-up li{
  list-style-type: none;

}
.sign-up li a{
  text-decoration: none;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: 400px;
  font-size: 15px;
} */
.container {
   max-width: 400px;
    margin:200px auto;
  }

  .input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .btn {
    background-color: rgb(113, 185, 4);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }